.released {
  margin-bottom: 15px;
  color: azure;
  text-align: center;

  font-size: 4vw;
}
.name {
  font-size: 6vw;

  font-weight: 700;
}
.game_intro_box {
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
}
.about_game_title {
  font-size: 4w;
  margin-top: 15px;
}

.game_description {
  margin-top: 20px;

  font-size: 2vw;
}
.image_game {
  width: 60%;
  height: 60%;
}

.center_info {
  display: flex;
  justify-content: space-evenly;
}
